@charset "UTF-8";

/* ページ全体のスタイル */
body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1rem;
  line-height: 1.75;
  color: #333;
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  /* vertical-align: bottom; */
}

li {
  list-style: none;
}

p {
  margin-bottom: 0;
}


/* header */
.header {
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #fff;
    width: 100%;
  }

.header-parts {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
  
@media (min-width: 768px) {
  .header-parts {
    max-width: 1200px;
    margin: auto;
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
  }
}


/* ロゴ --*/
.header-logo {
    line-height: 1;
    padding-left: 1rem;
  }
  
  .header-logo img {
    width: 10.375rem;
    height: 2.125rem;
  }

  @media (min-width: 768px) {
    .header-logo img {
    width :15rem;
    }
  }
  
/* ハンバーガーボタン --*/
.hamburger-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #005BAC;
    padding: 1.375rem;
  }

  @media (min-width: 768px) {
    .hamburger-button {
      display: none;
    }
  }

.hamburger-bar {
    width: 1.823rem;
    height: 0.25rem;
    background-color: #fff;
    margin-bottom: 0.375rem;
  }

.hamburger-bar:last-child {
    margin-bottom: 0px;
  }


/* ハンバーガーメニュー */
  .hamburger-menu {
    position: fixed;
    top: 68px;
    left: 100%;
    width: 100vw;
    background-color: #005BAC;
    transition: all 0.6s;
    visibility: hidden;
    opacity: 0;
  }

  @media (min-width: 768px) {
    .hamburger-menu {
      position: static;
      display: flex;
      max-width: 810px;
      justify-content: space-around;
      visibility: visible;
      opacity: 100%;
      background-color: #fff;
    }
  }

/* カバーイン後の位置指定 --*/
.hamburger-menu-active {
  left: 0;
  visibility: visible;
  opacity: 1;
}

.hamburger-nav {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin: 0;
}

@media (min-width: 768px) {
  .hamburger-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
}

.hamburger-nav li {
  display: block;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1;
  padding-top: 1.625rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #fff;;
}

@media (min-width: 768px) {
  .hamburger-nav a {
    color: #333;
    font-size: 1.25rem;
    font-weight: 500;
  }
}

@media (min-width: 768px) {
  .hamburger-nav a:hover {
    color: #0A76E2;
  }
}

@media (min-width: 768px) {
  .hamburger-nav i {
    opacity: 0;
  }
}


.bi-arrow-right {
  padding-right: 0.688rem;
}

.button_cover {
  display: block;
  text-align: center;
  color: #005BAC;
  border-radius: 45px;
  border: 1.6px solid #fff;
  background-color: #fff;
  font-size: 1.125rem;
  font-weight: bold;
  padding: 1.438rem 0;
  max-width: 21.875rem;
  margin: 2rem auto;
}

.button_cover:hover {
  color: #4084C0;
  background-color: #80ADD5;
  border: 1.6px solid #80ADD5;
}

@media (min-width: 768px) {
  .button_cover {
    font-size: 1.25rem;
    color: #fff;
    background-color: #4084C0;
    padding: 1.438rem 2.5rem;
    margin: 0;
  }
}



/* カバー */
.cover{
    margin-top: 4.375rem;
    position: relative;
  }

.cover-catch {
  display: flex;
}

.cover-catch img {
  height: 4.25rem;
}

@media (min-width: 768px) {
  .cover-catch img {
    height: 9.375rem;
  }
}

.pass-rate {
  font-size: 11px;
} 

@media (min-width: 768px) {
  .pass-rate {
    line-height: 1;
    font-size: 1.25rem;
  } 
}

.pass-rank {
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  font-style: Italic;
  font-weight: Bold;
  color: #F11F8D;
  text-align: center;
}

@media (min-width: 768px) {
  .pass-rank {
    font-size: 3.375rem;
  } 
}

@media (min-width: 768px) {
  .pass-rank span {
    font-size: 4.5rem;
  } 
}

.admission-procedure {
  margin-top: 1rem;
}

.target-audience {
  line-height: 1.44;
  font-size: 14px;
  font-weight: 400;
  color: #333;
}

@media (min-width: 768px) {
  .target-audience {
    font-size: 2.063rem;
  }
}

.briefing-session {
  line-height: 1.44;
  font-size: 25px;
  font-weight: 900;
  color: #005BAC;
}

@media (min-width: 768px) {
  .briefing-session {
font-size: 3.75rem;
  }
}




/* カバー文字位置 */

.cover-content {
    max-width: 343px;
    margin:0 auto;

  }


@media (min-width: 768px) {
.cover-content {
    max-width: 1100px;
    margin:0 auto;
  }
}

.arrangement {
position: absolute;
    bottom: 2rem;
}

@media (min-width: 768px) {
  .arrangement {
    bottom: 8.065rem;
  }
} 

.three_points {
  margin-top: 1.563rem;
}

@media (min-width: 768px) {
  .three_points {
    margin-top: 0;
    display: flex;
    column-gap: 2.5rem;
    justify-content: center;
    align-items: center;
    transform: translate(0, -50%);
  }
}

.button {
  display: block;
  line-height: 2.25;
  text-align: center;
  border-radius: 45px;
  border: 1.6px solid #fff;
  font-size: 1rem;
  font-weight: bold;
  padding: 1.03rem 0 0.75rem;
  max-width: 15.625rem;
  margin: 0 auto 0.75rem;
}

@media (min-width: 768px) {
  .button {
    min-width: 22.25rem;
  font-size: 1.5rem;
  padding: 1.25rem 3.875rem;
  margin: 0;
}
}

.btn_admission {
  color: #fff;
  background-color: #77CB33;
}

.btn_admission:hover {
  color: #fff;
  background-color: #BAE498;
  border-color: #BAE498;
}

.btn_experience {
  color: #fff;
  background-color: #F6AA00;
}

.btn_experience:hover {
  color: #fff;
  background-color: #FAD47E;
}

.btn_document {
  color: #fff;
  background-color: #3AC8AD;
}

.btn_document:hover {
  color: #fff;
  background-color: #9BE3D5;
}

.content {
  margin-top: 2.188rem;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  margin-bottom: 6rem;
}

@media (min-width: 768px) {
  .content {
    max-width: 1200px;
    margin:0 auto;
    padding-top: 10rem;
  }
}

.section_title {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  line-height: 0.9;
  font-size: 1.75rem;
  color: #000;
  font-weight: bold;
  position: relative;
  padding-bottom: 1.75rem;
}

@media (min-width: 768px) {
  .section_title {
    font-size: 2rem;
    padding-bottom: 2.5rem;
  }
}

.point_three {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #F11F8D;
}

@media (min-width: 768px) {
  .point_three {
    font-size: 3.375rem;
  }
}

.point-item {
  margin-bottom: 2.25rem;
}

@media (min-width: 768px) {
  .point-item {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
  }
}

@media (min-width: 768px) {
  .point-even {
    flex-direction: row-reverse;
  }
}
 
@media (min-width: 768px) {
  .point-img {
    width: 46%;
  }
}

@media (min-width: 768px) {
  .point-text {
    width: 46%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.point-text h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: Bold;
  font-style: Italic;
  color: #F11F8D;
}

@media (min-width: 768px) {
  .point-text h2 {
    font-size: 1.75rem;
  }
}

.text_number {
  font-size: 2.25rem;
  font-style: italic;
  padding-left: 0.563rem;
}

@media (min-width: 768px) {
  .text-number {
font-size: 2.625rem;
  }
}

.point_title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
}

@media (min-width: 768px) {
  .point_title {
    font-size: 1.5rem;
  }
}

  .point_text p {
    font-size: 1rem;
    font-weight: bold;
  }

.briefing_session {
  background-color: RGB(255 85 85 / .1);
  padding: 2.813rem 2.25rem 2.5rem;
  text-align: center;
}

.briefing_session p {
  margin-bottom: 1.25rem;
  font-size: 1rem;
}

.session_btn {
  background-color: #0271E0;
  line-height: 1.8;
  font-size: 1.25rem;
  max-width: 19.125em;
  padding-top: 1.313rem;
  padding-bottom: 1.313rem;
}

.session_btn:hover {
  background-color: #A4C5ED;
}

@media (min-width: 768px) {
  .session_btn {
    min-width: 22.25rem;
  font-size: 1.5rem;
  padding: 1.25rem 3.875rem;
margin: auto;
}
}


/* コース・目的 */
.corse_tab_content {
  margin-left: 0;
  margin-right: 0;
}

/* タブナビゲーション --*/
.tab.st>.nav {
  font-size: 1.125rem;
  /* tab同士の余白 */
  column-gap: 1.125rem;
  flex-direction: row !important;
  padding-right: 1.125rem;
  padding-left: 1.125rem;
}

.tab.st-theme-basic>.nav {
  box-shadow: none;
}

.tab.st-theme-basic>.nav .nav-link {
  padding: 1.688rem 0 1.375rem;
  line-height: 1;
  background-color: #F0F0F0;
  color: #929292;
  border-radius: 8px 8px 0 0;
}

/* アクティブ状態 --*/
.tab.st-theme-basic>.nav .nav-link.active {
  font-size: 1.125rem;
  color: #333 !important;
  background-color: #F2F9FF;
}

.tab.st-theme-basic>.nav .nav-link.active::after {
  background-color: unset !important;
}

.nav-tab {
  font-size: 1.125rem;
  font-family: 'Poppins';
  font-weight: 700;
}


.course-tab-p {
  font-size: 1rem;
  text-align: center;
}


.course-age {
  margin-top: -0.3rem;
}


.course-tab-content-items {
  text-align: center;
  margin-top: -0.25rem;
}

/* タブコンテンツ */
.tab-content {
  text-align: center;
  background-color: #F2F9FF;
  border-radius: 0 0 0.45rem 0.45rem;
}

.st>.tab-content>.tab-pane {
  border-radius: 6px;
  padding-top: 1.75rem;
  padding-bottom: 3.375rem;
}

.course-tab-content-item:not(:last-child) {
  margin-bottom: 1.938rem
}

.course-tab-content-title {
  color: #333;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: start;
}


/* 費用 */

table {
  width: 100%;
  line-height: 1;
  border: 2px solid #ddd;
  border-collapse: collapse;
  margin-top: 11.4px;
}

table th,
table td {
  border: 1px solid #ddd;
  text-align: center;
  vertical-align: middle;
}

table th {
  background-color: #f5f5f5f5;
  padding: 1.3rem 0.8rem;
}

table td {
  padding-top: 1rem;
  padding-bottom: 12px;
}

.price-list {
  width: 241px;
}

.price-list-text {
  font-size: 0.875rem;
  text-align: center;
}

.price-list-money {
  font-family: 'Poppins', sans-serif;
  font-size: 1.75rem;
  font-weight: bold;
  color: #F23397;
}
.money_en {
  font-size: 0.884rem;
}

/* 案内所 */
.question {
  position: relative;
}

.question p {
  position: absolute;
  top:35%;
  left: 5%;
  font-size: 1.375rem;
  font-weight: bold;
}

.search {
  position: relative;
}

.search p {
  position: absolute;
  top:35%;
  left: 5%;
  font-size: 1.375rem;
  font-weight: bold;
}

.guidance img {
  vertical-align: middle;
}


/* footer */
footer {
  background-color: #ddd;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer-copyright {
  font-family: 'Poppins', sans-serif;
  font-size: 0.813rem;
}